.section-one{
    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        
        h2{
           /* Skystoreez – это инновационная платформа, которая революционизирует мир розничной торговли. */
            max-width: 1300px;
            height: 92px;
            text-align: center;
            font-size: clamp(20px, calc(20px + (38 - 20) * ((100vw - 390px) / (1880 - 390))), 38px);
            color: rgb(0, 0, 0);
            font-weight: 500;
            line-height: 46px;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
            @media (max-width: 768px) {
                line-height: 30px;
            }
        }
        p{
            /* Объединяем физические магазины и создаем для них виртуальные торговые пространства, где клиенты могут совершать покупки в любое время и в любом месте. */
            max-width: 700px;
            height: 72px;
            left: 610px;
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: clamp(16px, calc(16px + (20 - 16) * ((100vw - 390px) / (1880 - 390))), 20px);
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: center;
        }
    }
    &__img{
        margin-top: 115px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            /* Group 19 */
            max-width: 1066.76px;
            max-height: 1002px;
            left: 427px;
            right: 426.24px;
            top: 1318px;
            bottom: 7449px;
        }
    }
}


//========================================================================================================================================================


// SECTION TWO

.section-two{
    margin: clamp(60px, calc(60px + (200 - 60) * ((100vw - 390px) / (1880 - 390))), 200px) 0;
    max-height: 800px;
    height: 100vh;
    @media (max-width: 768px) {
        max-height: 1200px;
        height: 1200px;

    }
    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 70px;
        h2{
            /* Почему Skystoreez? */
            max-width: 444px;
            height: 46px;
            left: 738px;
            top: 2520px;
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: clamp(20px, calc(20px + (38 - 20) * ((100vw - 375px) / (1880 - 375))), 38px);
            font-weight: 500;
            line-height: 46px;
            letter-spacing: 0%;
            text-align: left;
            text-transform: uppercase;
            text-align: center;

        }
        p{
            /* Помогаем ритейлерам решать ключевые задачи, улучшая качество взаимодействия с их клиентами. */
            max-width: 613px;
            height: 48px;
            font-size: 20px;
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: center;
            @media (max-width: 768px) {
                font-size: 16px;
                margin-bottom: 20px;
            }
        }
    }
}

.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #000;
    gap: 20px;
    p{
        /* Покупатели все чаще выбирают онлайн-шопинг, что негативно отражается на традиционных магазинах. */
        max-width: 360px;
        max-height: 105px;
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: clamp(15px, calc(15px + (20 - 15) * (100vw - 768px) / (1300 - 768)), 20px);
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
        @media (max-width: 768px) {
            font-size: 15px;
        }
    }
    &__top{
        display: flex;
        align-items:center;
        justify-content: space-between;
        h3{
            /* Падение трафика в торговых центрах: */
            max-width: 300px;
            height: 58px;
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: clamp(18px, calc(18px + (24 - 18) * (100vw - 768px) / (1300 - 768)), 24px);
            font-weight: 400;
            line-height: 29px;
            letter-spacing: 0%;
            text-align: left;
            text-transform: uppercase;
        }
        div{
            /* Проблема №1 */
            max-width: 145px;
            height: 31px;
            box-sizing: border-box;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 200px;
            opacity: 0.6;
                        /* Автолейаут */
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10;
            padding: 6px 12px 6px 12px;
            /* Inside Auto Layout */
            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 0px 10px;
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: clamp(12px, calc(12px + (15 - 12) * (100vw - 768px) / (1300 - 768)), 15px);
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0%;
            text-align: left;
            text-transform: uppercase;
            @media (max-width: 520px) {
                display: none;
            }
        }
    }
}

.blocks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    background: #fff;
    max-width: 650px;
    height: 328px;
    width: 45%;
    @media (max-width: 768px) {
        width: 90%;
    }
}


//========================================================================================================================================================


// SECTION THREE

.section-three{
    margin-top: clamp(60px, calc(60px + (200 - 60) * (100vw - 375px) / (1300 - 375)), 200px);
    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 70px;
        color: #000;
        h2{
            font-size: clamp(20px, calc(20px + (38 - 20) * (100vw - 375px) / (1300 - 375)), 38px);
        }
        p{
            text-align: center;
            font-size: clamp(16px, calc(16px + (20 - 16) * (100vw - 375px) / (1300 - 375)), 20px);
        }
    }
}

.block__one{
    background: 
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), /* Полупрозрачный белый слой */
    url('/public/img/section-three/block-1.jpeg'); /* Ваше изображение */    
    background-repeat: no-repeat;
        
}
.block__two{
    background: 
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), /* Полупрозрачный белый слой */
    url('/public/img/section-three/block-2.jpeg'); /* Ваше изображение */    
    background-repeat: no-repeat;
    
}
.block__three{
    background: 
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), /* Полупрозрачный белый слой */
    url('/public/img/section-three/block-3.jpeg'); /* Ваше изображение */    
    background-repeat: no-repeat;
    
}
.block__four{
    background: 
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), /* Полупрозрачный белый слой */
    url('/public/img/section-three/block-4.jpeg'); /* Ваше изображение */    
    background-repeat: no-repeat;
    
}


//========================================================================================================================================================


// SECTION FOUR

.section-four{
    color: #fff;
    margin-top: clamp(60px, calc(60px + (200 - 60) * (100vw - 375px) / (1300 - 375)), 200px);
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1880px;
        width: 100%;
        height: 2500px;
        border-radius: 20px;
        background: rgb(27, 27, 27);
        gap: clamp(40px, calc(40px + (110 - 40) * (100vw - 375px) / (1300 - 375)), 110px);
        @media (max-width: 768px) {
            height: auto;
            padding: 20px 0;
        }
    }
    &__title{
        h2{
            /* Как работает Skystoreez? */
            max-width: 833px;
            max-height: 46px;
            /* Автолейаут */
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 42;
            padding: 0px;
            /* Inside Auto Layout */
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
            margin: 42px 0px;
        }
        p{
            max-width: 757px;
            max-height: 120px;
            /* Автолейаут */
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 42;
            padding: 0px;
            font-size: clamp(16px, calc(16px + (20 - 16) * (100vw - 375px) / (1300 - 375)), 20px);
            /* Inside Auto Layout */
            flex: none;
            order: 1;
            flex-grow: 0;
            margin: 42px 0px;
            text-align: center;
        }
    }
    &__img-one{
        img{
            /* Group 24 */
            max-width: 1011px;
            max-height: 698.23px;
        }
    }
    &__img-two{
        max-width: 1043px;
        max-height: 178.62px;
    }
    &__discription{
        h2{
            max-width: 1015px;
            color: rgb(255, 255, 255);
            font-family: Inter;
            font-size: clamp(20px, calc(20px + (40 - 20) * (100vw - 375px) / (1880 - 375)), 40px);
            font-weight: 400;
            line-height: clamp(24px, calc(24px + (48 - 24) * (100vw - 375px) / (1880 - 375)), 48px);

            letter-spacing: 0%;
            text-align: center;
        }
    }
    &__img-three{
        max-width: 1000px;
        max-height: 503px;
        border-radius: 20px;
    }
}

//========================================================================================================================================================


// SECTION FIVE

.section-five{
    color: #000;
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1880px;
        width: 100%;
        height: clamp(750px, calc(750px + (1380 - 750) * (100vw - 375px) / (1300 - 375)), 1380px);
        border-radius: 20px;
        gap: clamp(120px, calc(120px + (70 - 120) * (100vw - 375px) / (1300 - 375)), 70px);
    }
    &__title{
        gap: 40px;
        h2{
            /* Чем Skystoreez отличается от маркетплейсов? */
            max-width: 833px;
            width: 100%;
            height: 100%;
            max-height: 97px;
            /* Автолейаут */
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 40px;
            padding: 0px;
            /* Inside Auto Layout */
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
            margin: 42px 0px;
            color: rgb(0, 0, 0);
            font-family: Inter;
            font-size: clamp(20px, calc(20px + (40 - 20) * (100vw - 375px) / (1880 - 375)), 40px);
            font-weight: 400;
            line-height: 48px;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
        }
        p{
            /* Маркетплейсы предназначены для онлайн-продаж, и на таких платформах, как Instagram, продают как офлайн, так и онлайн-магазины. Наша платформа, однако, создана исключительно для поддержки и улучшения офлайновой торговли, помогая физическим магазинам усиливать свое присутствие и конкурентоспособность без необходимости перехода в онлайн. */
            max-width: 833px;
            max-height: 120px;
            width: 100%;
            height: 100%;
            /* Автолейаут */
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 42;
            padding: 0px;
            /* Inside Auto Layout */
            flex: none;
            order: 1;
            flex-grow: 0;
            margin: 42px 0px;
            color: rgb(27, 27, 27);
            font-family: Inter;
            font-size: clamp(16px, calc(16px + (20 - 16) * (100vw - 375px) / (1300 - 375)), 20px);
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: center;
        }
    }
    &__img{
        img{
            /* image */
            max-width: 1320px;
            max-height: 600px;
        }

    }
}


